body, html {
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
    }

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: 3em;

}

h2 {
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: 2em;
    margin: 5px;
  padding: 5px;
  }

h3 {
  font-size: 1.5em;
  margin: 5px;
  padding: 5px;
}



p {
  margin: 2px;
}



.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
   background: #125688;
   color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fixed-header {
  z-index: 0;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 1200px;
  height:100px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;

  background-image: url('images/Mt_Akadake_centered.jpg');
    /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fixed-transition {
  z-index: 0;
  position: fixed;
  top: 100px;
  left: 0px;
  right: 0px;
  width: 1200px;
  height:20px;
  margin: 0 auto;


  background-image: url('images/Mt_Akadake_centered.jpg');
    /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
      mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));

}


.title {
  padding: 20px;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
}

.navigation li {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border: 2px solid white;
}



.top-header {
  background-color: white;
  position: relative;
  height: 150px;
  text-align: center;
  z-index: 1;
  pointer-events: none;
}

.top-header h1 {
  padding-top: 50px;
  color: rgb(121 166 234);
}



.transition {
  position: relative;
  display: block;
  height: 200px;
  z-index: 1;
  pointer-events: none;

  background: linear-gradient(white, rgba(255,255,255,0));

}

body {
  
}

.main-container {
  width: 1200px;
  margin: 0 auto;
  background-image: url('images/Mt_Akadake_centered.jpg');
  z-index: -1;
    /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-section {
  margin: 50px;
  margin-bottom: 0px;
}


.grid-layout {
  display: grid;
  grid-template-rows: 200px 400px 200px;
}

.anchor {
    display: block;
    position: relative;
    top: -150px;
    visibility: hidden;
}


.about-me {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  flex-wrap: wrap;
  overflow:hidden;
  background-color: white;
  border: 2px solid rgb(121 166 234);
  margin:10px;
}

.left-column {
  text-align: center;
  margin: 20px;
  width: 400px;
  height: 400px;
}

.skills-list {
  margin:10px;
  background-color: rgb(121 166 234);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 ul {
  list-style: none;
 }

.socials {
  margin:20px;
  background-color: white;
  width:400px;
  height: 400px;
}

.socials img {
  display: block;
  margin: 10px auto;
  border-radius:50%;
  width:200px;
}

.main-spacer {
  height: 150px;
}

.projects {
  background-color: white;
  padding: 20px;
    border: 2px solid rgb(121 166 234);

  border-radius: 10px;
    margin:10px;

}

.post-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.post{
  border: 2px solid rgb(121 166 234) ;
  border-radius:10px;
margin: 10px;
padding: 10px;
}

.thumbnail{
  display: block;
  max-width: 250px;
  width: 100%;
  object-fit: cover;
}

.post-preview{
  background-color: #fff;
  padding:15px;
}

.post-title{
  color:black;
  margin: 0;
}

.post-intro{
  color:#4b5156;
  font-size: 14px;
}

.contact {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
    margin:10px auto;
    max-width: 600px;
      border: 2px solid rgb(121 166 234);


}

#contact-form{
  display: block;
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid var(--borderColor);
  padding: 15px;
  border-radius: 10px;
  background-color: var(--mainColor);
  margin-bottom: 50px;

}

#contact-form label{
  line-height: 2.7em;
}

#contact-form textarea{
  min-height: 100px;
  font-size: 14px;
}


.input-field{
  width: 100%;
  padding-top: 10px;
  padding-bottom:10px; 
  background-color: white;
  border-style: solid;
  padding: 5px;
  font-size: 14px;
}


#submit-btn{
  margin-top: 10px;
  width: 100%;
  padding-top: 10px;
  padding-bottom:10px; 
  color: #fff;
  background-color: black;
  border-radius: 10px;
  border:none;
}




.window {
  /* The image used */
  
  position: relative;
  z-index: 0;
  /* Full height */
  height: 20vh; 
}

.window > img {
  display: block;
   width:75px; 
   margin: 0 auto;
   margin-top: 30vh;
}



.bottom-spacer {
  height: 50px;
}

.footer {
  background-color: rgb(121 166 234);
  text-align: center;
  padding: 10px;
}

@media screen and (max-width: 1200px) {
  .main-container{
    width:100%;
  }

  .fixed-header{
    width:100%;
  }
}

@media screen and (max-width: 1000px) {
  .about-me {
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
  }



@media screen and (max-width: 850px) {
  h1 {
    font-size:30px;
  }

  .top-header, .transition, .window > img {
    display: none;
  }

  .fixed-header{
    flex-direction: column;
    height: 120px;
  }

  .fixed-transition {
    top: 120px;
  }

  .title {
    padding:0px;
    text-align: center;
  }

  .navigation {
    margin: 0px;
  }

  .window {
    height: 300px;
  }

  .anchor {
    top:-220px;
  }

  .main-section {
    margin: 20px;
  }

  #subtitle {
    display: none;
  }
}

@media screen and (max-width: 400px) {

.left-column {
  height: auto;
}

.project-wrapper {

  grid-template-columns: repeat(auto-fit, 150px);
}